body {
	padding: 20px;
}


a, button {
	margin: 0 5px;
	cursor: pointer;
}

.navbar {
    
    margin-bottom: 20px;
    font-family: 'Courgette', sans-serif;
      
}

.home {
    text-align: center;
}

.title {
    font-style: italic;
    text-align: center;
}

.navbar-brand {
    font-size: 24px;
}
.dashboard {
    font-family: 'Courgette';
    text-align: center;
    display: inline-block;
}

.compass {
    text-align: center;
    color: blue;
    display: inline-block;
    
}

.weather {
    display: inline-block;
}
.LogIn {
    text-align: center;
    font-family: 'Courgette';
}

.signUp {
    font-style: italic;
}

.santaAna {
    
    width: 200px;
}

.italic {
   font-style: italic; 
}

.arrow {
    transition: all 3s;
}
.alertRed {
    color: red;
}
.alertBlue {
    color: blue;
}
