body {
	padding: 20px;
}

a, button {
	margin: 0 5px;
	cursor: pointer;
}

.NavBar {
	margin-bottom: 20px
}

.home {
    text-align: center;
}

.title {
    font-style: italic;
}

.navbar-brand {
    font-style: italic;
}

.locations {
    text-align: center;
}

.LogIn {
    text-align: center;
    font-style: italic;
}

.signUp {
    font-style: italic;
    display: block;
}
