body {
    padding: 20px;
    background-color: seashell;
}


a, button {
	margin: 0 5px;
	cursor: pointer;
}
.login-btn {
    border-radius: 25px;
    margin: 10px 0 0 10px;
}

.navbar {
    color: seashell;
    margin-bottom: 20px;
    font-family: 'Courgette', sans-serif;
    border-radius: 25px;
      
}

.home {
    text-align: center;
}

.title {
    font-family: 'Courgette';
    text-align: center;
}

.navbar-brand {
    font-size: 24px;
    
}

.dashboard {
    font-family: 'Courgette';
    text-align: center;
    display: inline-block;
}

.compass {
    text-align: center;
    color: blue;
    display: inline-block;
     
}

.weather {
    display: inline-block;
}
.LogIn {
    text-align: center;
    font-family: 'Courgette';
}

.signUp {
    font-family: 'Courgette';
    
}

.santaAna {
    
    width: 150px;
}

#temperature {
   font-family: 'Courgette';
  /* color: rgba(202, 170, 238, 0.653);
  */
   
}

.italic {
   font-style: italic; 
}

.arrow {
    transition: all 3s;
    
}
.alertRed {
    color: red;
}
.alertBlue {
    color: blue;
}
.nav-links {
    font-size: 24px;
    float: right;
    margin: 8px 8px 0 0;
}

.edit-profile {
    text-align: center;
    display: block;
    font-family: 'Courgette', 'sans';
}

@keyframes needle-vibrate {
    0% {
      transform: rotate(0deg);
    }
    20% {
        transform: rotate(-5deg);
    }
    40% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(5deg);
    }
  }
  
  .needle {
     animation: needle-vibrate 2s infinite;
  }